@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

#root {
  height: var(--app-height, 100vh);
  width: 100vw;
  position: relative;
  background: #000;
}

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}
